fastapi
uvicorn
aiofiles
pandas
matplotlib
python-multipart
click
cycler
fonttools
gunicorn
imageio
itsdangerous
Jinja2
jsonpickle
kiwisolver
MarkupSafe
networkx
numpy
opencv-python
packaging
Pillow
pyparsing
python-dateutil
PyWavelets
scikit-image
scipy
six
tifffile
torch
torchvision
typing-extensions
Werkzeug
